.home {
    background-color: #1a1a1f;
    justify-content: center;
    z-index: 1;
    height: auto;
    width: 100%;
    padding-bottom: 5vh;
    overflow: hidden;

}
.container {
    width: 100%;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 4vh;
}



/*  Change max width for larger devices for more spacing */
.rowContainer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 650px;
  }
  
  /* Mockup Columns */
  .mockupColumn1 {
    margin-right: calc(-1.5vw);    
    z-index: 4;
    margin-top: 60px;
    aspect-ratio: 390 / 844;
  }
  
  .mockupColumn2 {
    z-index: 3;
    margin-top: 30px;
    aspect-ratio: 390 / 844;
  }
  
  .mockupColumn3 {
    margin-left: calc(-1.5vw);
    z-index: 2;
    aspect-ratio: 390 / 844;
  }
  
  .appImage1 {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 25px;
    animation:  mockupSwipeUpOne 8s both ease; 
    animation-iteration-count: infinite; 
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
  }
  
  .appImage2 {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 25px;
    animation:  mockupSwipeUpTwo 8s ease;   
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.30);
  }
  
  .appImage3 {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 25px;
    animation:  mockupSwipeUpThree 8s 4s ease;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.30);
  }
  
  .mockupImages {
    border-radius: 25px;
  }

  @media screen and (max-width: 600px) {
    .mockupImages {
      border-radius: 12px;
    }
  }
  

    
.textContainer {
    color: #ffffff;
    width: 85%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#reactNinja {
    font-size: calc(30px + 2vw);
    margin-top: 0px;
    margin-bottom: 2vh;
    line-height: 1.1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#bio {
  font-size: calc(16px);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  margin-bottom: 0px;
}
  
  
  

  /* Mockup Animations 
  3 Images on mockup, intercahanging */
  
  @keyframes mockupSwipeUpOne {
    0% {
        transform: translateY(0vh);
    }
    3% {
        transform: translateY(0vh);
    }
    4.5% {
        transform: perspective(1200px) rotateY(25deg);
    }
    5.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    7% {
        transform: perspective(1200px) rotateY(-17deg);
    }
    9% {
        transform: perspective(1200px) rotateY(0deg);
    }
    10.5% {
        transform: perspective(1200px) rotateY(5deg);
    }
    11.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    13% {
        transform: perspective(1200px) rotateY(-5deg);
    }
    14% {
        transform: perspective(1200px) rotateY(0deg);
    }
  
    33.2% {
        transform: translateY(0vh);
    }
    50% {
        transform: translateY(0vh);
    }
    56% {
        transform: translateY(0vh);
    }
    58.5% {
        transform: perspective(1200px) rotateY(25deg);
    }
    59.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    61% {
        transform: perspective(1200px) rotateY(-17deg);
    }
    63% {
        transform: perspective(1200px) rotateY(0deg);
    }
    64.5% {
        transform: perspective(1200px) rotateY(5deg);
    }
    65.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    67% {
        transform: perspective(1200px) rotateY(-5deg);
    }
    68% {
        transform: perspective(1200px) rotateY(0deg);
    }
    70% {
        transform: perspective(1200px) rotateY(0deg);
    }
    /* 56% {
        transform: perspective(1200px) rotateY(0deg);
    } */
    /* 16.6% {
        transform: translateY(0vh);
    } */
    66.4% {
        transform: translateY(0vh);
    }
    83.5% {
        transform: translateY(0vh);
    }
    98% {
        transform: translateY(0vh);
    }
  
    100% {
        transform: translateY(0vh);
    }
  }
  
  @keyframes mockupSwipeUpTwo {
    0% {
        transform: translateX(150vh);
    }
    6% {
        transform: translateX(0vh);
    }
    16.6% {
        transform: translateX(0vh);
    }
    33.2% {
        transform: translateX(0vh);
    }
    50% {
        transform: translateX(0vh);
    }
    54% {
        transform: translateX(0vh);
    }
    56.5% {
        transform: perspective(1200px) rotateY(25deg);
    }
    57.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    59% {
        transform: perspective(1200px) rotateY(-17deg);
    }
    61% {
        transform: perspective(1200px) rotateY(0deg);
    }
    62.5% {
        transform: perspective(1200px) rotateY(5deg);
    }
    63.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    65% {
        transform: perspective(1200px) rotateY(-5deg);
    }
    66% {
        transform: perspective(1200px) rotateY(0deg);
    }
    83.5% {
        transform: translateX(0vh);
    }
    93% {
        transform: translateX(0vh);
    }
  
    100% {
        transform: translateX(-150vh);
    }
  }
  
  @keyframes mockupSwipeUpThree {
    0% {
        transform: translateX(150vh);
    }
    6% {
        transform: translateX(0vh);
    }
    16.6% {
        transform: translateX(0vh);
    }
    33.2% {
        transform: translateX(0vh);
    }
    50% {
        transform: translateX(0vh);
    }
    54% {
        transform: translateX(0vh);
    }
    56.5% {
        transform: perspective(1200px) rotateY(25deg);
    }
    57.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    59% {
        transform: perspective(1200px) rotateY(-17deg);
    }
    61% {
        transform: perspective(1200px) rotateY(0deg);
    }
    62.5% {
        transform: perspective(1200px) rotateY(5deg);
    }
    63.5% {
        transform: perspective(1200px) rotateY(0deg);
    }
    65% {
        transform: perspective(1200px) rotateY(-5deg);
    }
    66% {
        transform: perspective(1200px) rotateY(0deg);
    }
    83.5% {
        transform: translateX(0vh);
    }
    93% {
        transform: translateX(0vh);
    }
  
    100% {
        transform: translateX(-150vh);
    }
  }


  
  

  

