.app {
  text-align: center;
  background-color: #080808;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.appStyleBar {
  height:5px;
  background: linear-gradient(45deg, #fa64ff, #7bf0ff);
  width: 100%;
}
